
include:
  - local: '.gitlab/aro-tf-inputs.yaml'
---  
stages:
  - infra-setup
  - tfvars-gen
  - git-tfvars-file
  - aro-classic
  - kube-config
  - argocd-deploy
  - argocd-apps
  - stig-compliance-report

variables:
  FF_TIMESTAMPS: true
  TF_VAR_private_cluster: $[[ inputs.private_cluster ]]
  TF_VAR_azure_cloud_environment: $[[ inputs.azure_cloud_environment ]]
  TF_VAR_organization: $[[ inputs.organization ]]
  TF_VAR_cost_center: $[[ inputs.cost_center ]]
  TF_VAR_cluster_name: $[[ inputs.cluster_name ]]
  TF_VAR_location: $[[ inputs.location ]]
  TF_VAR_main_subnet_name: $[[ inputs.main_subnet_name ]]
  TF_VAR_worker_subnet_name: $[[ inputs.worker_subnet_name ]]
  TF_VAR_subscription_id: $[[ inputs.subscription_id ]]
  TF_VAR_platform_environment: $[[ inputs.platform_environment ]]
  TF_VAR_use_azure_provided_domain: $[[ inputs.use_azure_provided_domain ]]
  TF_VAR_root_dns_domain: $[[ inputs.root_dns_domain ]]
  TF_VAR_base_dns_name: $[[ inputs.base_dns_name ]]
  TF_VAR_base_dns_zone_name: $[[ inputs.base_dns_zone_name ]]
  TF_VAR_base_dns_zone_resource_group: $[[ inputs.base_dns_zone_resource_group ]]
  TF_VAR_fips_enabled: $[[ inputs.fips_enabled ]]
  TF_VAR_vnet_name: $[[ inputs.vnet_name ]]
  TF_VAR_vnet_resource_group: $[[ inputs.vnet_resource_group ]]
  TF_VAR_cluster_aad_app_name: $[[ inputs.cluster_aad_app_name ]]
  TF_VAR_key_vault_name: $[[ inputs.key_vault_name ]]
  TF_VAR_key_vault_resource_group: $[[ inputs.key_vault_resource_group ]]
  TF_VAR_cluster_aad_key_vault_secret: $[[ inputs.cluster_aad_key_vault_secret ]]
  TF_VAR_worker_node_count: $[[ inputs.worker_node_count ]]
  TF_VAR_worker_vm_size: $[[ inputs.worker_vm_size ]]
  TF_VAR_main_vm_size: $[[ inputs.main_vm_size ]]
  TF_VAR_worker_disk_size_gb: $[[ inputs.worker_disk_size_gb ]]
  TF_VAR_tfstate_storage_account_name: $[[ inputs.tfstate_storage_account_name ]]
  TF_VAR_tfstate_storage_container: $[[ inputs.tfstate_storage_container ]]
  TF_VAR_tfstate_resource_group: $[[ inputs.tfstate_resource_group ]]
  TF_VAR_git_token: $GIT_TOKEN
  TF_LOG: $[[ inputs.TF_LOG ]]
  WORKING_DIRECTORY: $CI_PROJECT_NAME 

infra-setup:
  stage: infra-setup
  tags:
    - ec2-build-box
  when: manual
  before_script:
    - TF_MODULE="aro-infra"
    - BACKEND_KEY="$TF_VAR_platform_environment/$TF_VAR_cluster_name/$TF_MODULE.tfstate"
    - BACKEND_PATH="$TF_MODULE"
    - TFVARS_FILE="$WORKING_DIRECTORY/tfvars/admin/admin.tfvars"
    - cd "$TF_MODULE"
    - rm -rf .terraform || true && (rm -rf .terraform.lock.hcl || true) && (rm -rf terraform.tfstate.d || true) && (rm -rf *.tfstate || true) && (rm -rf *.tfstate.backup || true)
    - unset TF_WORKSPACE
  script:
    - echo "Provision up the ARO infrastructure"
    - |
      terraform init \
        -backend-config="environment=$TF_VAR_azure_cloud_environment" \
        -backend-config="resource_group_name=$TF_VAR_tfstate_resource_group" \
        -backend-config="storage_account_name=$TF_VAR_tfstate_storage_account_name" \
        -backend-config="container_name=$TF_VAR_tfstate_storage_container" \
        -backend-config="key=$BACKEND_KEY"
    - terraform plan -out "$TF_MODULE.plan" -var-file="$TFVARS_FILE"
    - terraform apply "$TF_MODULE.plan"
  after_script:
    - cd $WORKING_DIRECTORY

tfvars-gen:
  stage: tfvars-gen
  when: manual
  dependencies:
    - infra-setup
  before_script:
    - TF_MODULE="tfvars-gen"
    - BACKEND_KEY="$TF_VAR_platform_environment/$TF_VAR_cluster_name/$TF_MODULE.tfstate"
    - BACKEND_PATH="$TF_MODULE"
    - TFVARS_FILE="$WORKING_DIRECTORY/tfvars/admin/admin.tfvars"
    - cd "$TF_MODULE"
    - rm -rf .terraform || true && (rm -rf .terraform.lock.hcl || true) && (rm -rf terraform.tfstate.d || true) && (rm -rf *.tfstate || true) && (rm -rf *.tfstate.backup || true)
    - unset TF_WORKSPACE
  script:
    - echo "Generate the master tfvars file"
    - |
      terraform init \
        -backend-config="environment=$TF_VAR_azure_cloud_environment" \
        -backend-config="resource_group_name=$TF_VAR_tfstate_resource_group" \
        -backend-config="storage_account_name=$TF_VAR_tfstate_storage_account_name" \
        -backend-config="container_name=$TF_VAR_tfstate_storage_container" \
        -backend-config="key=$BACKEND_KEY"
    - terraform plan -out "$TF_MODULE.plan" -var-file="$TFVARS_FILE"
    - terraform apply "$TF_MODULE.plan"
  after_script:
    - cd $WORKING_DIRECTORY

git-tfvars-file:
  stage: git-tfvars-file
  when: manual
  dependencies:
    - tfvars-gen
  before_script:
    - TF_MODULE="git-tfvars-file"
    - BACKEND_KEY="$TF_VAR_platform_environment/$TF_VAR_cluster_name/$TF_MODULE.tfstate"
    - BACKEND_PATH="$TF_MODULE"
    - TFVARS_FILE="$WORKING_DIRECTORY/tfvars/admin/admin.tfvars"
    - cd "$TF_MODULE"
    - rm -rf .terraform || true && (rm -rf .terraform.lock.hcl || true) && (rm -rf terraform.tfstate.d || true) && (rm -rf *.tfstate || true) && (rm -rf *.tfstate.backup || true)
    - unset TF_WORKSPACE
  script:
    - echo "Commit master tfvars file to the remote git repository"
    - |
      terraform init \
        -backend-config="environment=$TF_VAR_azure_cloud_environment" \
        -backend-config="resource_group_name=$TF_VAR_tfstate_resource_group" \
        -backend-config="storage_account_name=$TF_VAR_tfstate_storage_account_name" \
        -backend-config="container_name=$TF_VAR_tfstate_storage_container" \
        -backend-config="key=$BACKEND_KEY"
    - terraform plan -out "$TF_MODULE.plan" -var-file="$TFVARS_FILE"
    - terraform apply "$TF_MODULE.plan"
  after_script:
    - cd $WORKING_DIRECTORY

aro-classic:
  stage: aro-classic
  when: manual
  dependencies:
    - git-tfvars-file
  before_script:
    - BACKEND_KEY="${TF_VAR_platform_environment}/${TF_VAR_cluster_name}/${TF_MODULE}.tfstate"
    - BACKEND_PATH="${TF_MODULE}"
    - TFVARS_FILE="${WORKING_DIRECTORY}/tfvars/computed/${TF_VAR_organization}/${TF_VAR_subscription_id}/${TF_VAR_cluster_name}.tfvars"
    - cd "$TF_MODULE"
    - rm -rf .terraform || true && (rm -rf .terraform.lock.hcl || true) && (rm -rf terraform.tfstate.d || true) && (rm -rf *.tfstate || true) && (rm -rf *.tfstate.backup || true)
    - unset TF_WORKSPACE
  script:
    - echo "Provision the ARO cluster"
    - |
      terraform init \
        -backend-config="environment=$TF_VAR_azure_cloud_environment" \
        -backend-config="resource_group_name=$TF_VAR_tfstate_resource_group" \
        -backend-config="storage_account_name=$TF_VAR_tfstate_storage_account_name" \
        -backend-config="container_name=$TF_VAR_tfstate_storage_container" \
        -backend-config="key=$BACKEND_KEY"
    - terraform plan -out "$TF_MODULE.plan" -var-file="$TFVARS_FILE"
    - terraform apply "$TF_MODULE.plan"
  after_script:
    - cd $WORKING_DIRECTORY

kube-config:
  stage: kube-config
  when: manual
  dependencies:
    - aro-classic
  before_script:
    - TF_MODULE="kube-config"
    - BACKEND_KEY="${TF_VAR_platform_environment}/${TF_VAR_cluster_name}/${TF_MODULE}.tfstate"
    - BACKEND_PATH="${TF_MODULE}"
    - TFVARS_FILE="${WORKING_DIRECTORY}/tfvars/computed/${TF_VAR_organization}/${TF_VAR_subscription_id}/${TF_VAR_cluster_name}.tfvars"
    - cd "$TF_MODULE"
    - rm -rf .terraform || true && (rm -rf .terraform.lock.hcl || true) && (rm -rf terraform.tfstate.d || true) && (rm -rf *.tfstate || true) && (rm -rf *.tfstate.backup || true)
    - unset TF_WORKSPACE
  script:
    - echo "Set up the kube-config file"
    - |
      terraform init \
        -backend-config="environment=$TF_VAR_azure_cloud_environment" \
        -backend-config="resource_group_name=$TF_VAR_tfstate_resource_group" \
        -backend-config="storage_account_name=$TF_VAR_tfstate_storage_account_name" \
        -backend-config="container_name=$TF_VAR_tfstate_storage_container" \
        -backend-config="key=$BACKEND_KEY"
    - terraform plan -out "$TF_MODULE.plan" -var-file="$TFVARS_FILE"
    - terraform apply "$TF_MODULE.plan"
  after_script:
    - cd $WORKING_DIRECTORY

argocd-deploy:
  stage: argocd-deploy
  when: manual
  dependencies:
    - kube-config
  before_script:
    - TF_MODULE="argocd-init"
    - BACKEND_KEY="${TF_VAR_platform_environment}/${TF_VAR_cluster_name}/${TF_MODULE}.tfstate"
    - BACKEND_PATH="${TF_MODULE}"
    - TFVARS_FILE="${WORKING_DIRECTORY}/tfvars/computed/${TF_VAR_organization}/${TF_VAR_subscription_id}/${TF_VAR_cluster_name}.tfvars"
    - cd "gitops/$TF_MODULE"
    - rm -rf .terraform || true && (rm -rf .terraform.lock.hcl || true) && (rm -rf terraform.tfstate.d || true) && (rm -rf *.tfstate || true) && (rm -rf *.tfstate.backup || true)
    - unset TF_WORKSPACE
  script:
    - echo "Deploy the OpenShift GitOps operator"
    - |
      terraform init \
        -backend-config="environment=$TF_VAR_azure_cloud_environment" \
        -backend-config="resource_group_name=$TF_VAR_tfstate_resource_group" \
        -backend-config="storage_account_name=$TF_VAR_tfstate_storage_account_name" \
        -backend-config="container_name=$TF_VAR_tfstate_storage_container" \
        -backend-config="key=$BACKEND_KEY"
    - terraform plan -out "$TF_MODULE.plan" -var-file="$TFVARS_FILE"
    - terraform apply "$TF_MODULE.plan"
  after_script:
    - cd $WORKING_DIRECTORY

argocd-apps:
  stage: argocd-apps
  when: manual
  dependencies:
    - argocd-deploy
  before_script:
    - TF_MODULE="argocd-apps"
    - BACKEND_KEY="${TF_VAR_platform_environment}/${TF_VAR_cluster_name}/${TF_MODULE}.tfstate"
    - BACKEND_PATH="${TF_MODULE}"
    - TFVARS_FILE="${WORKING_DIRECTORY}/tfvars/computed/${TF_VAR_organization}/${TF_VAR_subscription_id}/${TF_VAR_cluster_name}.tfvars"
    - cd "gitops/$TF_MODULE"
    - rm -rf .terraform || true && (rm -rf .terraform.lock.hcl || true) && (rm -rf terraform.tfstate.d || true) && (rm -rf *.tfstate || true) && (rm -rf *.tfstate.backup || true)
    - unset TF_WORKSPACE
  script:
    - echo "Deploy ArgoCD application"
    - |
      terraform init \
        -backend-config="environment=$TF_VAR_azure_cloud_environment" \
        -backend-config="resource_group_name=$TF_VAR_tfstate_resource_group" \
        -backend-config="storage_account_name=$TF_VAR_tfstate_storage_account_name" \
        -backend-config="container_name=$TF_VAR_tfstate_storage_container" \
        -backend-config="key=$BACKEND_KEY"
    - terraform plan -out "$TF_MODULE.plan" -var-file="$TFVARS_FILE"
    - terraform apply "$TF_MODULE.plan"
  after_script:
    - cd $WORKING_DIRECTORY