---
apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name:  {{ .Values.namespace }}
  namespace: {{ .Values.namespace }}
  annotations:
    managed-by: argocd.argoproj.io
    argocd.argoproj.io/sync-wave: "4"
    argocd.argoproj.io/sync-options: "SkipDryRunOnMissingResource=true"
spec:
  backupImages: true
  configuration:
    velero:
      podConfig:
        resourceAllocations:
          limits:
            cpu: "4"
            memory: 8Gi
          requests:
            cpu: 250m
            memory: 512Mi
      resourceTimeout: 24h
      client-burst: 1000
      client-qps: 500
      defaultItemOperationTimeout: 4h
      defaultVolumesToFSBackup: true
      defaultPlugins:
        - openshift
        - azure
    nodeAgent:
      enable: true
      uploaderType: kopia
  backupLocations:
    - name: "default"
      velero:
        provider: azure
        default: true
        backupSyncPeriod: 5m
        config:
          resourceGroup: {{ .Values.storage.resourceGroup }}
          storageAccount: {{ .Values.storage.storageAccount }}
          subscriptionId: {{ .Values.storage.subscriptionId }}
          storageAccountKeyEnvVar: AZURE_STORAGE_ACCOUNT_ACCESS_KEY
        credential:
          key: cloud
          name: {{ .Values.storage.servicePrincipalKVStorageAccountAccessKey }}
        objectStorage:
          bucket: {{ .Values.storage.storageContainer }}
          prefix: {{ .Values.clusterName }}