---
apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name:  {{ .Values.namespace }}
  namespace: {{ .Values.namespace }}
  annotations:
    managed-by: argocd.argoproj.io
    argocd.argoproj.io/sync-wave: "4"
    argocd.argoproj.io/sync-options: "SkipDryRunOnMissingResource=true"
spec:
  # Azure Provider: https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure
  # AWS Provider: https://github.com/vmware-tanzu/velero-plugin-for-aws
  # GCP Provider: https://github.com/vmware-tanzu/velero-plugin-for-gcp
  backupImages: true
  configuration:
    velero:
      podConfig:
        resourceAllocations:
          limits:
            cpu: "2"
            memory: 6Gi
          requests:
            cpu: 250m
            memory: 512Mi
      resourceTimeout: 24h
      client-burst: 1000
      client-qps: 500
      itemOperationSyncFrequency: "10s"
      defaultItemOperationTimeout: 4h
      defaultVolumesToFSBackup: {{ .Values.defaultVolumesToFsBackup }}
      defaultSnapshotMoveData: true
      defaultPlugins:
        - azure
        - openshift
        - csi
    nodeAgent:
      enable: true
      uploaderType: kopia
      podConfig:
        resourceAllocations:
          limits:
            cpu: "500m"
            memory: 2Gi
          requests:
            cpu: 50m
            memory: 200Mi
  backupLocations:
    - name: "default"
      velero:
        provider: azure
        default: true
        backupSyncPeriod: 1m
        config:
          resourceGroup: {{ .Values.storage.resourceGroup }}
          storageAccount: {{ .Values.storage.storageAccount }}
          storageAccountURI: "https://{{ .Values.storage.storageAccount }}.blob.core.windows.net"
          blockSizeInBytes: "10485760" # 10MB
          useAAD: "true"
        credential:
          key: {{ .Values.veleroSecretKeyFile }}
          name: {{ .Values.storage.clientSecretKVSecretName }}
        objectStorage:
          bucket: {{ .Values.storage.storageContainer }}
          prefix: {{ .Values.clusterName }}
  snapshotLocations:
    - name: "default"
      velero:
        provider: azure
        default: true
        config:
          apiTimeout: 30m
          resourceGroup: {{ .Values.storage.resourceGroup }}
          incremental: "true"
        credential:
          key: {{ .Values.veleroSecretKeyFile }}
          name: {{ .Values.storage.clientSecretKVSecretName }}
        volumeSnapshotClassName: {{ .Values.storage.volumeSnapshotClassName }}
        snapshotLocation: {{ .Values.storage.storageContainer }}