---
apiVersion: operator.external-secrets.io/v1alpha1
kind: OperatorConfig
metadata:
  name: cluster
  namespace: {{ .Values.namespace }}
  annotations:
    managed-by: argocd.argoproj.io
    argocd.argoproj.io/sync-wave: "4"
    argocd.argoproj.io/sync-options: "SkipDryRunOnMissingResource=true"
spec:
  crds:
    createClusterExternalSecret: true
    createClusterSecretStore: true
  createOperator: true
  installCRDs: true # Recommended on OpenShift
  processClusterExternalSecret: true
  processClusterStore: true
  prometheus:
    enabled: true
    service:
      port: 8080
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 512Mi
  serviceAccount:
    create: true
    name: ''
  webhook:
    create: true