{{ if not ( .Files.Glob "certs/**.pem" | empty ) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.registriesCertsConfigMap }}
  namespace: openshift-config
  annotations:
    managed-by: argocd.argoproj.io
    argocd.argoproj.io/sync-wave: "0"
    argocd.argoproj.io/sync-options: "SkipDryRunOnMissingResource=true"
data:
  {{ (.Files.Glob "certs/**.pem").AsConfig | nindent 2 }}
{{ end }}