{{ range $runner := .Values.gitlab.runners }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ $runner.name }}"
  namespace: {{ $.Values.namespace }}
  annotations:
    managed-by: argocd.argoproj.io
    argocd.argoproj.io/sync-wave: "4"
    argocd.argoproj.io/sync-options: "SkipDryRunOnMissingResource=true"
  labels:
    app.kubernetes.io/part-of: {{ $.Values.namespace }}
data:
  # property-like keys; each key maps to a simple value
  config.toml: |
    concurrent = 1
    log_level = "debug"
    shutdown_timeout = 0
    [[runners]]
      name = {{ $runner.name }}
      url = {{ $.Values.gitlabUrl }}
      executor = "kubernetes"
      shell = "bash"
      environment = ["FF_USE_ADVANCED_POD_SPEC_CONFIGURATION=true"]
      builds_dir = "{{ $.Values.persistentVolumeClaim.mountPath }}/{{ `${CI_PROJECT_ID}-${CI_JOB_ID}` }}/builds"
      [runners.kubernetes]
        logs_base_dir = "{{ $.Values.persistentVolumeClaim.mountPath }}/{{ `${CI_PROJECT_ID}-${CI_JOB_ID}` }}/logs"
        scripts_base_dir = "{{ $.Values.persistentVolumeClaim.mountPath }}/{{ `${CI_PROJECT_ID}-${CI_JOB_ID}` }}"
        privileged = false
        allowPrivilegeEscalation = false
        pull_policy = ["if-not-present"]
        image = "image-registry.openshift-image-registry.svc:5000/{{ $.Values.namespace }}/{{ $runner.name }}"
        namespace = {{ $.Values.namespace }}
        [runners.kubernetes.node_selector]
          "kubernetes.io/os" = "linux"
        [[runners.kubernetes.volumes.pvc]]
          name = {{ $runner.name | quote }}
          mount_path = "{{ $.Values.persistentVolumeClaim.mountPath }}"
        [[runners.kubernetes.pod_security_context]]
          run_as_non_root = true
          run_as_user = 1000
          run_as_group = 1000
          fs_group = 1000
        [[runners.kubernetes.pod_spec]]
          patch_type = "strategic"
          patch = '''
            containers:
            - env:
              - name: HOME
                value: "{{ $.Values.persistentVolumeClaim.mountPath }}"
          '''

        
{{ end }}