{{ if .Values.idp.openid.enable }}
{{ if not ( .Files.Glob "certs/idp-ca-bundle.pem" | empty ) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.idp.openid.oauthCertsConfigMapName }}
  namespace: openshift-config
  annotations:
    managed-by: argocd.argoproj.io
    argocd.argoproj.io/sync-wave: "0"
    argocd.argoproj.io/sync-options: "SkipDryRunOnMissingResource=true"
data:
  ca.crt: |
    {{ .Files.Get "certs/idp-ca-bundle.pem" | indent 4 }}
{{ end }}
{{ end }}